
// roadmap
.roadmap h1{
    color: orange;
    
}


.lineContainer { 
    margin-top: 55vh;  // <<<<<< adjust when changing line height
    margin-left: -45vh;
    margin-bottom: 10%;
    display: flex;
    width: 100%;
    height: 65vh;   // <<<< make box taller, then line longer
    
      .progressLine {
          position: relative;
          margin: 0 auto;
          border-radius: 10px;
          width: 95vh;              // <<<<<< make line longer here
          background: grey;
          height: 5px;
        //   z-index: -1;
          display: flex;
          justify-content: space-between;
          transform: rotate(90deg);
  
           .progress {
                position: absolute;
                // width: 75%; // set inline
                height: 100%;
                background: orange;
                transition: width 1s ease-in-out;
                
            }
      }

// roadmap card
    .status {
        position: relative;
        // top: -9.5px;
        transform: rotate( 270deg);

        .dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: white;
            border: 5px solid grey;
            cursor: pointer;

        &.current {
            background: white;
            border: 5px solid orange;
        }
          
        &.completed {
        position: relative;
        background: orange;
        border: 5px solid orange;

            &::after { // check mark
            content: '';
            position: absolute;
            top: calc(50% - 5px);
            left: calc(50% - 5.5px);
            height: 5px;
            width: 10px;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            transform-origin: center;
            transform: rotate(-45deg);
        }
        }

                  }
        
  }

  h1, p{
      padding-left: 80px;
      margin-top: -20px;
  }
  .roadmapcardtitle p{
      color: #989898;
  }

  .textcard{
    //   background-color: rgba(255, 0, 0, 0.289);
    // background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(61, 61, 61, 0.501));
    //   width: 80vh;
    //   height: 20vh;
    //   padding-top: 20px;
    //   margin-top: -20px;
    //   margin-left: -50px;
    width: 80vh;
  }


  .roadmapcardtitle{
      display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
    .lineContainer { 
        margin-top: 55vh;  // <<<<<< adjust when changing
        margin-left: -35vh;
    }


}

@media only screen and (min-width: 600px){
    .lineContainer { 
        margin-top: 55vh;  // <<<<<< adjust when changing
        margin-left: -35vh;
    }

}