// .team-wrap {
//   background-color: #ffffff;
// }

.team-header {
  padding-top: 3rem;
  text-align: center;
  color: #000000;
//   background-color: #ffffff;
  font-size: 3.5rem;
}

.team {
  background-color: #ffffff;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .order1 { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
  }
  .order2 { 
    grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    justify-content: center;
  }

.team-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.team-card h3 {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 2rem;
}

.team-card p {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 1.3rem;
}

.team-avatars {
  width: 20rem;
  margin: 0 auto;
}