.team-wrap {
    color: lightgray;
    text-align: center;
}

.team-header {
  padding-top: 3rem;
  text-align: center;
  color: lightgray;
  background-color: rgb(33, 33, 33);
  font-size: 3.5rem;
}

.team {
  background-color: rgb(33, 33, 33);
  color: #000000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
  
  .order1 { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
}
  .order2 { 
    grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    justify-content: center;
}

.team-card {
//   background-color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 33, 33);
  margin-top: 7rem; 
  margin-bottom: 5rem; 

  h3{
    color: orange;
    text-align: center;
    font-size: 2rem;
  }

  p{
    color: lightgray;
    text-align: center;
    font-size: 1.3rem;
  }
}

.team-avatars {
  width: 75%;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px black;

}

.team-socials{
    display: inline;
    text-align: center;

    img{
        width: 15%;
    }
    
}
